html {
  /* background-color: rgb(191, 218, 240); */
  background-image: url(../images/movie-778057_960_720.jpg);
  background-size: cover;
}

.app {
  z-index: 0;
}

.app-content {
  margin-top: 6rem;
  z-index: 1;
}