html {
  /* background-color: rgb(191, 218, 240); */
  background-image: url('https://www.sccpre.cat/png/big/32/320844_vintage-overlay-png.png');
  background-size: 100%;
}

.app {
  z-index: 0;
}

.app-content {
  margin-top: 6rem;
  z-index: 1;
}