.movie-counter {
  margin: 1rem;
  padding: 1rem;
}

.movie-list {
  display: block;
  padding: 10px;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.movie-card {
  width: 210px;
  min-height: 425px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.4rem solid rgba(161, 96, 22, 0.8);
  border-radius: 0.8rem;
  padding: 20px;
  margin: 10px;
  font-size: 1rem;
  text-align: center;
}

.movie-card:hover {
  border: 0.4rem solid rgba(223, 110, 17, 0.8);
  background-color: rgba(236, 172, 119, 0.8);
  min-height: 425px;
  padding: 20px;
}

.movie-card > p {
  min-height: 4rem;
}

.movie-card-image {
  display: block;
  margin: auto;
  padding-bottom: 0px;
  
}

